*
{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}
.video
{
    width: 70vw;
    height:40vw;
    margin-left: 15vw;
}
.button_for_video
{
    width: 70vw;
    height: auto;
    margin: 0 0 10vw 15vw;
    background-color: #b3d80f;
}
svg
{
    width: 100vw;
    height: auto;
}
.name
{
    stroke: #0b2301;
    stroke-width: 2px;
    fill: #FFFFFF;
    stroke-dasharray: 2020;
    stroke-dashoffset: 2020;
    animation: draw 2s linear forwards;
}
@keyframes draw
{
    to
    {
        stroke-dashoffset: 10;
        fill: #0b2301;
    }
}
#background
{
    background: url("imgs/background_ant.jpg") no-repeat;
    border: 1px solid;
    height: 44vw;
    width: 70vw;
}

#ant
{
    width: 100px;
    height: 70px;
    filter: brightness(2);
}

.button
{
    width: 7.2%;
    height: auto;
    padding: 0.2%;
    margin: 0.2%;
    float: left;
    color: #0b2301;
    font-size: large;
    background-color:#b3d80f;
    border-radius: 5%;
}
/********************* classes for animations **********************/

.move
{
    animation: moving 10s linear infinite;
}
@keyframes moving
{
    from
    {
        transform: translate(0vw, 35vw);
    }
    to
    {
        transform: translate(100vw, -10vw);
    }
}

.moveTo30
{
    margin-top: 63vh;
    animation: moveToThirty 2s ease-in forwards;
}
@keyframes moveToThirty
{
    from
    {
        transform: translate(-5vw, 0);
    }
    to
    {
        transform:translate(30vw, 0);
    }
}

.moveFrom30
{
    margin-top: 63vh;
    margin-left: 30vw;
    animation: moveFromThirty 2s ease-out forwards;
}
@keyframes moveFromThirty
{
    to
    {
        transform: translate(-35vw, 0%);
    }
}

.oneJump
{
    margin-top: 63vh;
    margin-left: 0;
    animation: jump 1s linear 1;
}
@keyframes jump
{
    50%
    {
        transform: translate(0vw, -6vw);
    }
}

.jumpingMulti
{
    margin-top: 38vw;
    margin-left: 0;
    animation: jumps 10s ease-in infinite;
}
@keyframes jumps
{
    0%
    {
        margin-left: 0;
        margin-top: 38vw;
        transform: translate(0vw, -6vw);
    }
    12.5%
    {
        margin-left: 2vw;
        margin-top: 26.75vw;
        transform: translate(5vw, -6vw);
    }
    25%
    {
        margin-left: 5vw;
        margin-top: 29.75vw;
        transform: translate(10vw, -6vw);
    }
    37.5%
    {
        margin-left: 10vw;
        margin-top: 18.5vw;
        transform: translate(15vw, -6vw);
    }
    50%
    {
        margin-left: 15vw;
        margin-top: 21.5vw;
        transform: translate(20vw, -6vw);
    }
    62.5%
    {
        margin-left: 20vw;
        margin-top: 10.25vw;
        transform: translate(25vw, -6vw);
    }
    75%
    {
        margin-left: 25vw;
        margin-top: 12.25vw;
        transform: translate(30vw, -6vw);
    }
    87.5%
    {
        margin-left: 30vw;
        margin-top: 7vw;
        transform: translate(35vw, -6vw);
    }
    100%
    {
        margin-left: 35vw;
        margin-top: 8vw;
        transform: translate(40vw, -6vw);
    }
}
.fadeout
{
    margin-top: 23vw;
    margin-left: 27vw;
    animation: fading 4s ease 1;
}
@keyframes fading
{
    50%
    {
        opacity: 0;
    }

}
.glow
{
    margin-top: 23vw;
    margin-left: 27vw;
    animation: glowing 4s ease infinite;
}
@keyframes glowing
{
    to
    {
        filter: drop-shadow(5px 5px 5px yellow);
    }

}
.fallDown
{
    margin-top: 23vw;
    margin-left: 27vw;
    animation: falling 1s linear forwards;
}
@keyframes falling
{
    50%
    {
        transform: rotate(-180deg);
    }
    100%
    {
        margin-top: 50vh;
        transform: rotate(-360deg);
    }
}
.speak
{

}

.shake
{
    margin-top: 23vw;
    margin-left: 27vw;
    animation: shaking 0.5s infinite;
}
@keyframes shaking
{
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.mirror
{
    margin-top: 23vw;
    margin-left: 27vw;
    animation: mirror 1s forwards;
}
@keyframes mirror
{
    to
    {
        transform: scaleX(-1);
    }
}

.moveTo0
{
    animation: movetozero 1s forwards;
}
@keyframes movetozero
{
    to
    {
        margin: 0;
    }
}

.funExtraFlip
{
    margin-top: 23vw;
    margin-left: 27vw;
    animation: flip 1s linear infinite;
}
@keyframes flip
{
    50%
    {
        transform: rotateY(-180deg);
    }
    100%
    {
        transform: rotateY(-360deg);
    }
}


